nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0px 20px;


}
.nav-logo img{
    width: 90px;
    border-radius: 90px;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav ul li{
border-radius: 4px;
transition: all 0.3s ease-in-out;
padding-bottom: 5px;

}

nav ul li a{
    text-decoration: none;
    color:#333
}

nav ul li:hover{
    background-color: #fcb212;
    color: #fff;
    padding:6px
    
}

/* media query */

@media(min-width:769px){
    nav ul{
        flex-direction: row;
    }
    nav ul li{
       padding: 10px 12px;
        
        }
}