.footer-container{
    background-color: rgb(15, 15, 15);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}